.bg-facto {
    background-color: rgba(0,0,0,.6)!important;
    backdrop-filter: blur(10px);
    color: #FFFFFF !important;
}
.navbar .facto-logo {
    width: 100px;
}
.navbar .facto-logo img {
    width: 100%;
}

.navbar-content {
    margin-top: -1px;
}
.navbar-content .navbar-nav,
.navbar-content hr {
    display: flex;
}

.navbar-content hr {
    width: 100%;
    margin: unset;
    opacity: 1;
}

.nav-item .btn,
.nav-link {
    color: #FFFFFF !important;
    font-weight: 700 !important;
}

.nav-item.button-content {
    display: flex;
    align-items: center;
    padding-right: .5rem;
}