body {
    font-family: Montserrat,sans-serif;
}

.btn {
    border-radius: 10px;
}

.btn-sm {
    padding: 2px 15px !important;
    font-size: 12px !important;
    border-radius: 3px;
}

.btn-success {
    color: #FFFFFF;
    background-color: #9CCE4A!important;
    border-color: #9CCE4A!important;
}

.btn-demo {
    color: #FFFFFF;
    background-color: #8954ba!important;
    border-color: #8954ba!important;
}

main {
    top: 0;
}

.facto-color-1 {
    color: #b3cc5d !important;
}

.facto-background-1 {
    background-color: #b3cc5d !important;
}